  /* ORDEN:
  ·Cabeza/cara
  ·Cejas
  ·Ojos
  ·Piezas cara
  ·Pelo
  ·Orejas
  ·Nariz
  ·Boca
  ·
  
  
  
  
  /*---------------CABEZA/CARA---------------*/
*{
    margin: 0;
    padding: 0;
    position: relative;
    
  }
  
  .cap{
    height: 900px;
    width: 650px;
    background: ;
    margin: 0 auto;
    overflow: visible;
    
    
  }
  .cara{
    width: 552px;
    height: 380px;
    background: rgb(252, 208, 180);
    margin: 0 auto;
    border-radius: 200px 200px 0 0 / 200px 200px 0 0;
    
    
  }
  /*---------------CEJAS---------------*/
  .front{
    height:80px;
    background: ;
    text-align: center;
    overflow: visible;
}

    .celles{
        width: 200px;
        background-color: rgb(41, 21, 5);
        background-image: repeating-linear-gradient(to right, rgb(41, 41, 5) 0%, transparent 1%, black 2%);
        margin: 0px 30px;
        top: 30px;

    }
    .celles.c1{
        height: 150px;
        clip-path: polygon(8% 23%, 55% 19%, 95% 36%, 46% 35%, 8% 43%);
        transform: scaleX(-1) scale(120%);
        display: inline-block;

    }
    .celles.c2{
        display: inline-block;
        height: 150px;
        clip-path: polygon(8% 23%, 55% 19%, 95% 36%, 46% 35%, 8% 43%);
        transform: scale(120%);
    }
    /*---------------OJOS---------------*/
    .mirada{
        height: 70px;
        background: ;
        text-align: center;
    }
    
        .mirada .ull {
            height: 40px;
            width: 130px;
            background: white;
            border-radius: 0px 100px 0px 100px;
            display: inline-block;  
            margin: 15px 45px;
            order-top: solid 3px black;
            box-shadow: 0 -10px 40px black;
    
        }

        .mirada .ull:before {
          content:"";
          display: block;
          background: transparent;
          width: 130px;
          height: 40px;
          position: absolute;
          border-radius: 0px 100px 0px 100px;
          border-top: solid 3px transparent;
          top:0;
          left:0;
          box-shadow: inset 10px -5px 0px rgb(252, 208, 180);
          z-index: 500000001;
        }

        .mirada .ull:after {
          content:"";
          display: block;
          background: transparent;
          width: 130px;
          height: 40px;
          position: absolute;
          border-radius: 0px 100px 0px 100px;
          border-top: solid 3px transparent;
          top:-5px;
          left:0;
          box-shadow: inset 10px 5px 0px black;
          z-index: 500000000;
        }


        .mirada .ull.dret{
            border-radius: 100px  0px 100px 0px;
        }

        .mirada .ull.dret:before {
          border-radius: 100px  0px 100px 0px;
          box-shadow: inset -10px -5px 0px rgb(252, 208, 180);
          z-index: 500000001;
        }

        .mirada .ull.dret:after {
          border-radius: 100px  0px 100px 0px;
          box-shadow: inset -10px 5px 0px black;
          z-index: 500000000;

        }

/*  OJOS 
 .gwd-ul-16pa {
      position: absolute;
      border-radius: 50%;
      width: 65px;
      height: 105px;
      transform-origin: 52.5px 52.5px 0px;
      background-image: -webkit-radial-gradient(center center, circle cover, rgb(0, 0, 0) 2%, rgb(121, 64, 13) 45%);
      left: 561px;
      top: 517px;
      transform: translate3d(0px, 0px, 0px);
    }
      */
        
    
            .mirada .ull .pupila{
                height: 40px;
                width: 40px;
                background: radial-gradient(rgb(103, 51, 9), rgb(28, 19, 9));
                border-radius: 50%;
                margin: 0 auto;
            }


                .mirada .ull .pupila .iris{
                    height: 20px;
                    width: 20px;
                    background: black;
                    border-radius: 50%;
                    margin: 0 auto;
                    top: 10px;
                }
    /*---------------PIEZAS CARA---------------*/

.p1{
  width: 375px;
  height: 220px;
  background: 	rgb(252, 208, 180);
  transform: skew(5deg);
  position: absolute;
  top:380px;
  left:0;
  margin-left: 58.5px;
}

.p2{
  width: 375px;
  height: 220px;
  background:rgb(252, 208, 180);
  transform: skew(-5deg);
    position: absolute;
  top:380px;
  right:0;
  margin-right:58.5px;
}

.p3{
  width: 200px;
  height: 160px;
  background: rgb(252, 208, 180);
  transform: skew(44deg);
  position: absolute;
  top:600px;
  left:0;
  margin-left: 145px;
}

.p4{
  width: 200px;
  height: 160px;
  background: rgb(252, 208, 180);
  transform: skew(-44deg);
  position: absolute;
  top:600px;
  right:0;
  margin-right: 145px;
}

.p5 {
  width: 230px;
  height: 204px;
  background: rgb(252, 208, 180);
  position: absolute;
  top:580px;
  left:210px;
  border-radius: 0 0 130px 130px / 0 0 50px 50px;
}
  
  /*---------------PELO---------------*/
  
  .cabell {
    height: 200px;
    background:  rgb(41, 21, 5);
    border-radis: 200px 200px 0px 0px;
    background-imag: repeating-linear-gradient(to right,black 0%, transparent 1%, black 2%);
    
  }
  
    .pelo1{
      width: 300px;
      height: 130px;
      background-color:   rgb(41, 21, 5);
      z-index: 10000;
      top: 100px;
      border-radius: 30px 0px 0px 150px;
      left: -40px;
      float: left;
      margin: 0 auto;
      transform: rotate(-11deg);
      position: absolute;
    }
    .pelo2{
      width: 280px;
      height: 130px;
      background-color:   rgb(41, 21, 5);
      z-index: 10000;
      top: 100px;
      border-radius: 1500px 0px 0px 150px;
      left: 300px;
      float: left;
      margin: 0 auto;
      transform: rotate(200deg);
      position: absolute;
    }
    .pelo3{
    height: 130px;
    width: 98px;
    background: transparent;
    box-shadow: 7px -4px 0px rgb(41, 21, 5);
    border-radius: 50%;
    margin: -62px 487px;
    transform: rotate(200deg);
    top: 140px;
    left: -200px;
    }

  /*---------------OREJAS---------------*/
.orelles {
  width: 1200px;
  height: 250px;
  background: transparent;
  z-index: -5;
  margin: -100px -324px;
  position: absolute;
  text-align: center;
  
}

.orella{
  background-color: rgb(249, 201, 171);
  width: 100px;
  height: 250px;
  border-radius: 50%; 
  float: left;
  margin: 0 250px;
  transform: rotate(-10deg);
}
.orella + .orella {
  transform: rotate(10deg);
}

  /*---------------NARIZ---------------*/

  .nas {
    width: 75px;
    height: 190px;
    background: rgb(214, 164, 124);
    border-radius: 30% 30% 50% 50% / 100% 100% 10% 10%;
        box-shadow: 5px solid black;
    margin: auto;
        border-bottom: 2px;
    background-image:linear-gradient(rgb(252, 208, 180)  -0% ,rgb(249, 201, 171)); 
    z-index: 100;
    border-bottom: 3px solid;
}

.hb::before, .ha::after {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
}

.nas::before {
    width: 50px;
    height: 45px;
    content:"";
    background-color: rgb(249, 201, 171);
    display: block;
    border-radius: 50%;
    margin: 0 auto;    
    border-right: 3px solid;
    bottom: 10px;
    right: -22px;
  }
  
  .nas::after {
    width: 50px;
    height: 45px;
    content:"";
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    border-left: 3px solid;
    border-bottom: 0px solid;
    bottom: 10px;
    left: -22px;
    background-color: rgb(249, 201, 171);
  }

    /*---------------BOCA---------------*/

.boca{
  background-color: gray;
  width: 200px;
  height: 80px;
  z-index: 100;
  top: 30px;
  margin: 0 auto;
}
  .llavi1{
    background-color: pink;
    width: 200px;
    height: 35px;
    float: left;
    border-radius:  150px 150px 0px 0px ;
  }

  .llavi2{
    background-color: salmon;
    width: 200px;
    height: 45px;
    border-radius: 0px 0px 150px 150px;
    float: left;
  }
